# Exclude everything
/*

# Except for default project files
!/.clang-tidy
!/.github
!/.pre-commit-config.yaml
!/build-aux
!/cmake
!/data
!/scripts
!/src
!.clang-format
!.gersemirc
!.gitattributes
!.gitignore
!buildspec.json
!CHANGELOG.md
!CMakeLists.txt
!CMakePresets.json
!cliff.toml
!LICENSE
!README.md

# Exclude generated local dev helpers
/build-and-install-macos.sh

# Exclude clang-tidy local build directory
/build-tidy

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
